.bio-header-container{
    color: var(--BG-COLOR-TWO);
    background-color: var(--BG-COLOR-SIX);
    font-family: var(--FONT-FOUR);
    font-weight: bold;
    border-top: var(--BORDER-EIGHT);
    border-bottom: var(--BORDER-EIGHT);
    position: relative;
}

.bio-header{
    width: fit-content;
    border-radius: 5px;
    background-color: var(--BG-COLOR-TWO);
    color: var(--BG-COLOR-SIX);
    box-shadow: var(--BORDER-TWO);
    position: relative;
    z-index: 1;
}

.bio-header-container::before{
    content: '';
    position: absolute;
    width: 100%;
    border: var(--BORDER-NINE);
    outline: var(--BORDER-EIGHT);
    top: 50%;
    z-index: 0;
}

/* medium */
.medium-main-bio{
    /* background-color: var(--BG-COLOR-TWO); */
    color: var(--BG-COLOR-SIX);
    border-top: var(--BORDER-NINE);
    border-bottom: var(--BORDER-NINE);
    /* box-shadow: var(--BORDER-TWO); */
    /* border-radius: 1.5rem; */
}

.medium-main-bio::before{
    position: absolute;
    content: '';
    background: url('/Tapestry2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: 0;
    left: 0;
    top:0
}

.medium-profile-pic-container{
    border-radius: 50%;
   
}

.medium-profile-pic{
    border-radius: 50%;
    height: 100%;
    width: 80%;
    object-fit: cover;
    box-shadow: var(--BORDER-TWELVE);
    filter: sepia(.5);
    margin-left: -25px;
}

.medium-bio{
    line-height: 0;
}
.medium-kresge-link{
    transition: all .25s linear;
}

.medium-kresge-link:hover{
    background-color: var(--BG-COLOR-SIX);
    color: var(--BG-COLOR-TWO);
}
/* .medium-main-bio{
    position: relative;
}

.medium-pic-container{
    background-color: var(--BG-COLOR-TWO);
    border-radius: 50%;
    box-shadow: var(--BORDER-TWO);
    width: 20rem;
    height: 23rem;
}

.medium-profile-pic{
    border-radius: 50%;
    object-fit: cover;
    filter: sepia(.5);
    flex-shrink: 3;
    width: 100%;
    height: 100%;
}

.medium-icon-container{
    position: relative;
    width: fit-content;
}
.medium-icon-btn{
    padding: .5rem;
}

.medium-bio-icon{
    font-size: 2rem;
}

.medium-bio-inner-container{
    
}

.medium-bio-inner-container,
.medium-icon-container{
    color: var(--BG-COLOR-SIX);
    background-color: var(--BG-COLOR-TWO);
    box-shadow: var(--BORDER-TWO);
}

.medium-bio{
    line-height: normal;
} */

.medium-bio-icon{
    font-size: 3.5rem;
    margin: .75rem;
    background-color: transparent;
    padding: .25rem;
    color: var(--BG-COLOR-SIX);
    border-radius: 15%;
    transition: all .25s linear;
}

.medium-bio-icon:hover{
    background-color: var(--BG-COLOR-SIX); 
    color: var(--BG-COLOR-TWO);
}
/* large */
.main-bio{
    position: relative;
}

.image-container{
    background-color: var(--BG-COLOR-TWO);
    box-shadow: var(--BORDER-TWO);
    border-radius: 50%;
    height: 110%;
    width: 95%;
    object-fit: cover;
    flex-shrink: 3;
}

.profile-pic{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(.5);
    flex-shrink: 3;
}

.bio-inner-container,
.icon-container{
    color: var(--BG-COLOR-SIX);
    background-color: var(--BG-COLOR-TWO);
    box-shadow: var(--BORDER-TWO);
}

.kresge-link{
    transition: all .25s linear;
}

.kresge-link:hover{
    background-color: var(--BG-COLOR-SIX);
    color: var(--BG-COLOR-TWO);
}

.bio-icon{
    font-size: 3.5rem;
    margin: .75rem;
    background-color: var(--BG-COLOR-TWO);
    padding: .25rem;
    color: var(--BG-COLOR-SIX);
    border-radius: 15%;
    transition: all .25s linear;
}

.bio-icon:hover{
    background-color: var(--BG-COLOR-SIX); 
    color: var(--BG-COLOR-TWO);
}
