.hamburger-react{
    position: relative;
    right: 1rem
}
.mobile-nav{
    background-color: var(--BG-COLOR-TWO);
    border-bottom: var(--BORDER-NINE);
}

.mobile-nav-dropdown{
    border-bottom: var(--BORDER-EIGHT);
}

.mobile-nav-link{
    border: var(--BORDER-SEVEN);
    outline: var(--BORDER-ONE);
    background-color: var(--BG-COLOR-SIX);
    color: var(--BG-COLOR-TWO);
    transition: all .25s linear;
}

.mobile-nav-link:hover{
    border: var(--BORDER-ONE);
    outline: var(--BORDER-ONE);
    background-color: var(--BG-COLOR-TWO);
    color: var(--BG-COLOR-SIX);
}
