.header-main{
    border-bottom: var(--BORDER-NINE);
}

.header-container{
    color: var(--BG-COLOR-SIX);
    background-color: var(--BG-COLOR-TWO);
    font-family: var(--FONT-FOUR);
    font-weight: bold;
    border-bottom: var(--BORDER-NINE);
    position: relative;
    z-index: 1; 
}

.lg-title-subtitle{
    color: var(--BG-COLOR-TWO);
} 

.name,
.sub-name{
    text-shadow: 2px 2px 3px var(--BG-COLOR-ONE);
}

.header-pic{
    border-top: var(--BORDER-EIGHT);
}

/* .header-main::before{
    content: '';
    position: absolute;
    background-image: url('TableMobile2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: bottom;
    opacity: .5;
} */